.background {
  background-image: url("../../assets/img/clouds2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.data_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
}

.capitalize_text {
  text-transform: capitalize;
}
