.backgroundDawn {
  background-image: url("../../assets/img/clouds2.jpg");
  background-image: url("../../assets/img/dawn-clouds-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 300px;
}

.backgroundMorning {
  background-image: url("../../assets/img/dark-clouds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 300px;
}

.backgroundNoon {
  background-image: url("../../assets/img/clouds2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 300px;
}

.backgroundSunset {
  background-image: url("../../assets/img/twiligth-clouds-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 300px;
}

.backgroundEvening {
  background-image: url("../../assets/img/nigth-clouds-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 300px;
}

.backgroundMidnigth {
  background-image: url("../../assets/img/midnight-clouds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 300px;
}

.data_containerDark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
}

.data_containerLigth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.capitalize_text {
  text-transform: capitalize;
}

.name {
  font-weight: bold;
  font-size: 28px;
  overflow: hidden;
}

.temperature {
  display: flex;
  flex-direction: row;
}

.numText {
  font-size: 20px;
  font-weight: bold;
}

.tempText {
  font-size: 14px;
  font-weight: bold;
}

.weatherIcon {
  width: 80px;
}

.deleteIcon {
  color: #ff1943;
  cursor: pointer;
}

.deleteIcon:hover {
  color: #d72041;
  transition: all ease 300ms;
}

.cardContentHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.cardContentBody {
  padding: 0 10px 0 10px;
}
